// {{ ansible_managed }}
{{ ic2_f_head[icinga2_feature_name] }}

library "db_ido_{{icinga2_ido_type}}"

object {{ ic2_f_object_name[icinga2_feature_name] }} "{{ icinga2_feature_name }}" {
{% for k, v in ic2_f_ido_connection.iteritems() %}
  {{ k }} = "{{ v }}"
{% endfor %}

{% for k, v in ic2_f_ido_options.iteritems() %}
{% if v is string %}  {{ k }} = {{ v }}
{% elif v is mapping %}
  {{ k }} = {{ '{' }}
{# ITERATE OVER SECOND LEVEL DICT #}
{% for j,l in v.iteritems() %}
{% if l is string %}    {{ j }} = {{ l }}
{% elif l is mapping %}
    {{ j }} = {{ '{' }}
{% for o,p in l.iteritems() %}
      {{ o }} = {{ p }}
{% endfor %}{{ '    }' }}
{% elif l is sequence %}    {{ j }} = {{ '[ ' }}{% for n in l %}{{ n }}{{ ',' if not loop.last else '' }} {% endfor %} {{ '] ' }}
{% endif %}
{% endfor %}{{ '  }' }}
{% elif v is sequence %}  {{ k }} = {{ '[ ' }}{% for n in v %}{{ n }}{{ ',' if not loop.last else '' }} {% endfor %} {{ '] ' }}
{% endif %}
{% endfor %}
{% endif %}
}
