// {{ ansible_managed }}
{{ ic2_f_head[icinga2_feature_name] }}

library "db_ido_mysql"

object {{ ic2_f_object_name[icinga2_feature_name] }} "{{ icinga2_feature_name }}" {
{% for k, v in ic2_f_ido_connection.iteritems() %}
  {{ k }} = "{{ v }}"
{% endfor %}

{% if icinga2_ido_options is mapping %}
{% for k, v in icinga2_ido_options.iteritems() %}
{% if v is string %}  {{ k }} = {{ v }}
{# ITERATE OVER SECOND LEVEL DICT #}
{% elif v is mapping %}
  {{ k }} = {{ '{' }}
{% for j,l in v.iteritems() %}
{% if l is string %}    {{ j }} = {{ l }}
{% elif l is mapping %}
    {{ j }} = {{ '{' }}
{% for o,p in l.iteritems() %}
      {{ o }} = {{ p }}
{% endfor %}{{ '    }' }}
{% elif l is sequence %}    {{ j }} = {{ '[ ' }}{% for n in l %}{{ n }}{{ ',' if not loop.last else '' }} {% endfor %} {{ '] ' }}
{% endif %}
{% endfor %}{{ '  }' }}
{# END ITERATE OVER SECOND LEVEL DICT #}
{% elif v is sequence %}  {{ k }} = {{ '[ ' }}{% for n in v %}{{ n }}{{ ',' if not loop.last else '' }} {% endfor %} {{ '] ' }}
{% endif %}
{% endfor %}
{% endif %}

{% if icinga2_mysql_ssl %}
enable_ssl = true
{% if icinga2_mysql_ssl_verify_server_cert or icinga2_mysql_ssl_X509 %}
ssl-ca={{icinga2_mysql_ssl_certs_ca_path}}
{% endif %}
{% if icinga2_mysql_ssl_X509 %}
ssl-cert={{icinga2_mysql_ssl_certs_cert_path}}
ssl-key={{icinga2_mysql_ssl_certs_privkey_path}}
{% endif %}
{% endif %}

}
