// {{ ansible_managed }}

{% if icinga2_nodename %}
const NodeName = "{{ icinga2_nodename }}"
{% endif %}

{% set i2o_type = "Endpoint" %}
{% for i2o_name, i2o_attr in icinga2_endpoints.iteritems() %}
{% include './templates/_object.conf.j2' %}
{% endfor %}

{% set i2o_type = "Zone" %}
{% for i2o_name, i2o_attr in icinga2_zones.iteritems() %}
{% include './templates/_object.conf.j2' %}
{% endfor %}
